:root {
  --primary-color: #61CFF3;
  --secondary-color: #2C8CA8;
  --accent1-color: #FFD700;
  --accent2-color: #A6A6A6;
  --heading-font: "Trade Winds", system-ui, sans-serif;
  --body-font: "Farsan", system-ui, sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}

.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}